<!Doctype html>
<html>
<head>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAAOiIC-ovRk8X0mwHL6BVd_MN0G8ZJPGo"></script>
<script>
	function initialize()
	{	
		var start = document.getElementById('start');
		var end = document.getElementById('end');
		var inter1 = document.getElementById('inter1');
		var inter2 = document.getElementById('inter2');
		
		var startautoComplete = new google.maps.places.Autocomplete(start);
		var endautoComplete = new google.maps.places.Autocomplete(end);
		var inter1autoComplete = new google.maps.places.Autocomplete(inter1);
		var inter1autoComplete = new google.maps.places.Autocomplete(inter2);
		
	}
	
	google.maps.event.addDomListener(window, 'load', initialize);


</script>

</head>
<body>
<a href='/'>Home</a><br>
<center>
<br><br><h2><font color="blue">Trip Planner!</font></h2><br><br>
<p>If your waiting time at intermediate locations is more than 15 minutes, we recommend you to use this service to get the best results!</p>
<br><br>
<form   action="/combinationPrice" method="POST">
	<b>Starting point : </b><input id="start" name ="start" type="text" size="50" placeholder="Enter location" autocomplete="on"><br><br>
	<b>Intermediate Location 1 : </b><input id="inter1" name = "inter1" type="text" size="50" placeholder="Enter location" autocomplete="on"><br><br>
    <b>Intermediate Location 2 : </b><input id="inter2" name = "inter2" type="text" size="50" placeholder="Enter location" autocomplete="on"><br><br>
	<b>Destination : </b><input id="end" name = "end" type="text" size="50" placeholder="Enter location" autocomplete="on"><br><br>
	
	<br><br>
	<input id="submit" type="submit" name="submit" value="Get The Fair">
</form>
</center>

<div id="result"></div>
 

 
</body>
</html>