<!Doctype html>
<html>
<head>
<title>Trip Planner </title>
<script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <!--<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbZ8DodbHLUAJX9P4NZUoGLSsS2kqjDE4&callback=initMap">
    </script> -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAAOiIC-ovRk8X0mwHL6BVd_MN0G8ZJPGo&callback=initMap"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--script type=text/javascript src = "{{ url_for('static', filename = 'js/jquery-ui-1.12.1.custom/external/jquery/jquery.js') }}"></script-->
<script type=text/javascript src = "{{ url_for('static', filename = 'js/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui-1.12.1.custom/jquery-ui.structure.css') }}" />
<script type=text/javascript src = "{{ url_for('static', filename = 'js/jquery-ui-1.12.1.custom/external/jquery/jquery.validate.js') }}"></script>

<script type=text/javascript src = "{{ url_for('static', filename = 'js/form.js') }}"></script>
<script>
/*
$(document).ready(function(){
        var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
     var myOptions = {
         zoom: 4,
         center: myLatlng,
         mapTypeId: google.maps.MapTypeId.ROADMAP
         }
      map = new google.maps.Map($('#map')[0], myOptions);
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
      title:"Fast marker"
     });
     });
     */
	function initialize()
	{	
		var start = document.getElementById('start');
		var end = document.getElementById('end');
		
		var startautoComplete = new google.maps.places.Autocomplete(start);
		var endautoComplete = new google.maps.places.Autocomplete(end);
		
	}
	
	google.maps.event.addDomListener(window, 'load', initialize);

	var counter = 1;

    var limit = 5;

function initializemap(){
     var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
     var myOptions = {
         zoom: 4,
         center: myLatlng,
         mapTypeId: google.maps.MapTypeId.ROADMAP
         }
      map = new google.maps.Map(document.getElementById("map"), myOptions);
      var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
      title:"Fast marker"
     });
}

//google.maps.event.addDomListener(window,'load', initializemap);

</script>

<title> TRIP PLANNER </title>
<style>
.aligncenter {
	width: 900px;
    margin: 0 auto; 
}
  .mhsection {
    width: 800px;
    
	margin-top:5px;
	padding:30px 10px 10px 20px;
	
  }
  .resulthead {

    
	margin-top:2px;
	padding:30px 10px 10px 20px;
	
  }
  .resulthead div{
    padding-top:10px;
	
    padding-bottom:10px;
  }
  .logobackground
  {width: 800px;
  height: 25px;
  background-image: url(logobg1.jpg);}
.mainheader {
	margin-top: 2px;
	 width: 800px;
    height: 100px;
    background: lavender;
	padding:20px 10px 10px 20px;
	    border: 1px solid #ddd;
}
 .provider-content{
 .padding-left:14px;
 }
 .header {font-size:20px;color:#DFDF;}
 .maininner{padding-left:0px;}

.ui-dialog-titlebar-close{
    display: none;
}
.resultcontainer{
width:830px;
}
</style>
</head>
<body style="background-color:pink">
<div id='container' class='aligncenter' >
<div class='mainheader '>
<img  src="{{ url_for('static', filename = 'images/logo.png') }}" alt="Travel Planner">

</div>


<div class='mhsection ui-corner-all ui-widget  ui-widget-content'>

<div class='maininner '>
<form   id="frmAddress">

	<table id='tblAddress' cellspacing='15'>
	<tr ><td>Starting Point</td><td><input id="start" required  class='ui-autocomplete-input' name ="start" type="text" size="50" placeholder="Choose starting point..." autocomplete="off">
	</td></tr>
	<tr><td>Destination</td><td><input id="end" required  class='ui-autocomplete-input' name = "end" type="text" size="50" placeholder="Choose destination..." autocomplete="off">
	</td></tr>
	
	</table>
	
		<div id="waypoint"></div>
		<input type="button" class="ui-button ui-corner-all ui-widget" id='btnAddMoreAddress' value="Add Destination" >
	
	<br><br>
	<input id="submit" class="ui-button ui-corner-all ui-widget" type="button" name="submit" value="Get The Fair">
	<input id="btnClear" class="ui-button ui-corner-all ui-widget" type="button" value="Clear">
	</form>
	</div>
	<br>
	<a href='/waiting' >For waiting at intermdiate locations use this service</a>
	<a href='/bestreviews' style="float: right">Best Rated Routes</a><br>
</div>
	

<div id="result" class=' resultcontainer ui-widget-content'>
<div id='uberdata' class='resulthead ui-widget'>

<div style="line-height:0px;vertical-align: top;height:50px;padding-top:0px;">
<img align='left'  width='90px' height='70px' src= "{{ url_for('static', filename = 'images/Uber_Logotype_Digital_black.png') }}"  alt="Uber"/>
</div>

<div class='provider-content'>
<table cellpadding="10" id="uberresultcontainer">
	<tr style="color:#36003d;font-weight:bold"><td>Price</td><td>Time</td><td>Distance</td><td>Ride Type</td></tr>
	<tr>
		<td><span class="price">0 $</span></td>
		<td><span class="time">0 min</span>		</td>
		<td><span class="distance">0 mile</span></td>
		<td><span class="ridetype">  -</span></td>

	</tr>
</table>
	<a href="https://www.uber.com/info/scheduled-rides/" style="margin-left: 10px">Click to schedule your ride</a>
 </div>
</div>
	<hr/>
<div id='lyftdata' class='resulthead ui-widget'>

<div class='lyftlogo' style="line-height:0px;vertical-align: top;height:50px">
<img align='left' style='padding-left:14px;'  width='50px' height='35px' src="{{ url_for('static', filename = 'images/lyft_logo_tiny_pink.png') }}"  alt="lyft"/>

</div>
<div  class='provider-content'>
<table cellpadding="10" id="lyftresultcontainer" >
	<tr  style="color:#36003d;font-weight:bold"><td>Price</td><td>Time</td><td>Distance</td><td>Ride Type</td></tr>
	<tr>
		<td><span class="price">0 $</span></td>
		<td><span class="time">0 min</span>		</td>
		<td><span class="distance">0 mile</span></td>
		<td><span class="ridetype">  -</span></td>

	</tr>
</table>
	<a href="https://www.lyft.com/app" style="margin-left: 10px">Click to schedule your ride</a>
 </div>
</div>
	<hr/>
<div id='routedata' class='resulthead ui-widget'>

<div class='' style="line-height:0px;vertical-align: top;">
<span class="header font" style='padding-left:14px; color:#36003d'>Below are suggested route</span>

</div>



<div  class='provider-content'>
<ul id="addresslist"></ul>
 </div>
	</div>


</div>
<div style="padding:20px" ><a href='/postreviews' style="font-size:25px">Post Reviews</a></div>
    <a href='/MapScreen' style="font-size:25px;margin-left:20px">Check your direction</a>
<div id="map" resulthead ui-widget style="width:800px;height:700px"></div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
 <div id="modal" class="modal" > Loading...
 </div>

</body>

</html>
